html,
body {
	height: 100%;
	background-color: #f0f8ff;
}

.geral {
	min-height: 100%;
	position: relative;
}

#p {
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	font-size: 40px;
	color: #6a5ed6;
	text-align: center;
}

h2
{
	text-align: center;
}

.cli {
	background-color: #F5F5F5;
	height: 400px;
	margin-right: 50px;
	margin-left: 100px;
	text-align: center;
	width: 85%;
	padding-top: 3px;
	padding-bottom: 60px;
	box-shadow: 0px 0px 10px black;
}

.head {
	text-align: center;
	background-color: #F5F5F5;
	height: 100px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 50px;
	padding-top: 10px;
	width: 85%;
	box-shadow: 0px 0px 10px black;

}

.rod {
	text-align: center;
	background-color: #F5F5F5;
	height: 100px;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	width: 85%;
	box-shadow: 0px 0px 10px black;

}

input[type=text] {
	width: 100%;
	margin-right: 10px;
}

input[type=number] {
	width: 10%;
	margin-right: 10px;
}

li {
	width: 50px;
}
 
ul {
	width: 100px;
	margin-left: 45%;
	
}



thead {
  background: #ccc url(http://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}


th {
  font-weight: normal;
  text-align: left;
}
th, td {
  padding: 0.3em 1em;
}

#panel {
	overflow: auto;
	margin-right: 1%;
	margin-left: 2%;
	height: 200px;
}

#panel_avalia {
	margin-right: 1%;
	margin-left: 2%;
	height: auto;
}

#panel_det {
	margin-right: 20%;
	margin-left: 20%;
	height:auto;
	font-size: 20px;
	margin-bottom: 20px;
	font-style: italic;
}

#linha1 {
	font-weight: bold;
	font-size: 22px;
}

#td_link {
	font-size: 20px;

}

a:link {
		text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
}

ul li {
    position: relative;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
    }
ul li a {
    display: block;
    text-decoration: none;
    color: #E2144A;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc; 
}

li:hover ul { display: block; }

ul li a:hover{
    text-decoration:underline;
    font-weight: bold;
    background: #ccc; }


* html ul li { float: left; }
* html ul li a { height: 1%; }

